{% extends 'base.html' %}

{% block content %}
<h1>Usednet - Curated Content</h1>
<ul>
    {% for content in contents %}
    <li>
        <a href="{% url 'content_detail' content.pk %}">{{ content.title }}</a>
        - Posted on {{ content.date_posted }}
        <p>{{ content.description }}</p>
        <p>Tags:
            {% for tag in content.tags.all %}
            <a href="{% url 'tag_view' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

    </li>
    {% endfor %}
</ul>
{% endblock %}
